.App{
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  width: 497px;
  height: 350px;
}
.container{
  width:500px ;

  
}
.card{
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
p{
  margin-left:5px ;
}
button{
  margin-bottom: 10px;
  width: 80px;

}
